<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.hot.dao.HotDao">
    <!--获取热门位商品数量-->
    <select id="getHotNum" resultType="int">
        select
        dict_value
        from t_dictionary
    </select>
    <!--查询热门位商品分页-->
    <select id="listHotGoods" parameterType="com.xzsd.app.hot.entity.HotInfo" resultType="com.xzsd.app.hot.entity.HotInfo">
        select
            hot_sort hotSort,
            a.goods_code goodsCode,
            b.photo photo,
            b.goods_name goodsName,
            b.sell_price sellPrice,
            b.introduce goodsIntroduce
            from t_hot_place a
            left join t_goods b
            on a.goods_code = b.goods_code
            where a.is_deleted = 0
            and b.is_deleted = 0
        group by a.hot_id
        order by a.hot_sort asc
        limit #{hotGoodsCnt}
    </select>
</mapper>