<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">
    <!--查询客户列表（管理员）-->
    <select id="listCustomerAll" parameterType="com.xzsd.pc.customer.entity.CustomerInfo" resultType="com.xzsd.pc.customer.entity.CustomerInfo">
        select
        b.user_acct userAcct,
        b.user_name userName,
        b.sex sex,
        b.phone phone,
        b.email email,
        b.id_card idCard
        from t_sys_customer a
        left join t_sys_user b
        on a.customer_code = b.user_code
        where b.is_deleted = 0
        <if test="userName !=null and userName !=''">
            and b.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userAcct !=null and userAcct !=''">
            and b.user_acct like concat('%', #{userAcct}, '%')
        </if>
        order by b.gmt_create desc
    </select>
    <!--查询客户列表（店长）-->
    <select id="listCustomer" parameterType="com.xzsd.pc.customer.entity.CustomerInfo" resultType="com.xzsd.pc.customer.entity.CustomerInfo">
        select
        b.user_acct userAcct,
        b.user_name userName,
        b.sex sex,
        b.phone phone,
        b.email email,
        b.id_card idCard
        from t_sys_customer a
        left join t_sys_user b
        on a.customer_code = b.user_code
        left join t_store c
        on a.invite_code = c.invite_code
        where b.is_deleted = 0
        and c.manage_code= #{userCode}
        <if test="userName !=null and userName !=''">
            and b.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userAcct !=null and userAcct !=''">
            and b.user_acct like concat('%', #{userAcct}, '%')
        </if>
        order by b.gmt_create desc
    </select>
</mapper>