<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">
    <!--校验门店是否存在-->
    <select id="countStoreId" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select  count(store_code)
        from t_store
        where is_deleted = 0
        and store_code = #{storeCode}
    </select>
    <!--新增门店-->
    <insert id="saveStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        insert into t_store
        (store_code,
        store_phone,
        store_name,
        address,
        invite_code,
        manage_code,
        business_license_code,
        province_code,
        city_code,
        area_code,
        is_deleted,
        sort_no,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        version
        )
        values
        (
        #{storeCode},
        #{storePhone},
        #{storeName},
        #{address},
        #{inviteCode},
        #{managerCode},
        #{licenseCode},
        #{provinceCode},
        #{cityCode},
        #{areaCode},
        #{isDeleted},
        0,
        now(),
        #{createBy},
        now(),
        #{lastModifiedBy},
        0
        )
    </insert>
    <!--查询门店详情-->
    <select id="findStoreById" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        store_phone,
        store_name,
        address,
        invite_code,
        manage_code,
        business_license_code,
        province_code,
        city_code,
        area_code,
        version
        from t_store
        where store_code = #{storeCode}
        and is_deleted = 0
    </select>
    <!--修改门店信息-->
    <update id="updateStoreById" parameterType="com.xzsd.pc.store.entity.StoreInfo" >
        update t_store
        set
        store_code = #{storeCode},
        store_phone = #{storePhone},
        store_name = #{storeName},
        address = #{address},
        invite_code = #{inviteCode},
        manage_code = #{managerCode},
        business_license_code =  #{licenseCode},
        province_code =  #{provinceCode},
        city_code = #{cityCode},
        area_code = #{areaCode},
        gmt_modified = now(),
        version = version + 1
        where
        store_code = #{storeCode}
        and version = #{version}
    </update>
    <!--查询门店列表(管理员)-->
    <select id="listStore" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_code storeCode,
        a.store_phone  storePhone,
        a.store_name storeName,
        a.address address,
        a.invite_code inviteCode,
        a.manage_code managerCode,
        b.user_name managerName,
        b.user_acct managerAcct,
        a.version
        from t_store a left join t_sys_user b on a.manage_code = b.user_code
        where a.is_deleted = 0
        <if test="storeCode != null and storeCode != ''">
            and a.store_code like concat('%', #{storeCode}, '%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a.store_name like concat('%', #{storeName}, '%')
        </if>
        <if test="managerName !=null and managerName !=''">
            and b.user_name like concat('%', #{managerName}, '%')
        </if>
        group by a.store_code
        order by a.gmt_create desc
    </select>
    <!--查询门店列表(店长)-->
    <select id="listStoreByManager" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_code storeCode,
        a.store_phone  storePhone,
        a.store_name storeName,
        a.address address,
        a.invite_code inviteCode,
        a.manage_code managerCode,
        b.user_name managerName,
        b.user_acct managerAcct,
        a.version
        from t_store a left join t_sys_user b on a.manage_code = b.user_code
        where a.is_deleted = 0
        and a.manage_code = #{userId}
        <if test="storeCode != null and storeCode != ''">
            and a.store_code like concat('%', #{storeCode}, '%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a.store_name like concat('%', #{storeName}, '%')
        </if>
        <if test="managerName !=null and managerName !=''">
            and b.user_name like concat('%', #{managerName}, '%')
        </if>
        group by a.store_code
        order by a.gmt_create desc
    </select>
    <!--删除门店-->
    <update id="deleteStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_store
        set
        is_deleted = 1,
        gmt_modified = now(),
        last_modified_by  = #{userId},
        version = version + 1
        where store_code in
        <foreach item="item" index="index" collection="listStoreCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--省市区下拉查询-->
    <select id="findStoreAdd" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.AddressInfo">
        select
        add_code addCode,
        add_name addName,
        parent_code parentCode
        from t_address
        where
        is_deleted = 0
        and parent_code = #{parentCode}
        group by add_code
        order by gmt_create desc
    </select>
</mapper>